<a href="https://colab.research.google.com/github/mahsahadian/Cloud-TP2/blob/master/SVM_1_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.svm import SVR
from sklearn import metrics
from sklearn.metrics import accuracy_score
import pickle

In [0]:
url = 'https://raw.githubusercontent.com/tna-hub/Cloud-TP2/master/dataset.csv'
data = pd.read_csv(url)
data.head()

   No  year  month  day  hour  PM2.5  ...    PRES  DEWP  RAIN   wd  WSPM  station
0   1  2013      3    1     0    6.0  ...  1021.1 -18.6   0.0   NW   4.4  Gucheng
1   2  2013      3    1     1    6.0  ...  1021.5 -19.0   0.0   NW   4.0  Gucheng
2   3  2013      3    1     2    5.0  ...  1021.5 -19.8   0.0  WNW   4.6  Gucheng
3   4  2013      3    1     3    6.0  ...  1022.7 -21.2   0.0    W   2.8  Gucheng
4   5  2013      3    1     4    5.0  ...  1023.0 -21.4   0.0  WNW   3.6  Gucheng

[5 rows x 18 columns]

In [0]:
data.isnull().sum()  # showing the number of rows with null values

No             0
year           0
month          0
day            0
hour           0
PM2.5       8043
PM10        5965
SO2         8352
NO2        11362
CO         19404
O3         12199
TEMP         379
PRES         374
DEWP         384
RAIN         371
wd          1743
WSPM         305
station        0
dtype: int64

In [0]:
data = data.dropna()  # drop all rows with null values
data.isnull().sum()  # verify it worked

No         0
year       0
month      0
day        0
hour       0
PM2.5      0
PM10       0
SO2        0
NO2        0
CO         0
O3         0
TEMP       0
PRES       0
DEWP       0
RAIN       0
wd         0
WSPM       0
station    0
dtype: int64

In [0]:
data.describe()  # get more info about data

                  No           year  ...           RAIN           WSPM
count  349400.000000  349400.000000  ...  349400.000000  349400.000000
mean    17969.317490    2014.716657  ...       0.065279       1.736347
std      9998.752658       1.159938  ...       0.827349       1.244607
min         1.000000    2013.000000  ...       0.000000       0.000000
25%      9629.000000    2014.000000  ...       0.000000       0.900000
50%     18120.000000    2015.000000  ...       0.000000       1.400000
75%     26522.000000    2016.000000  ...       0.000000       2.200000
max     35064.000000    2017.000000  ...      72.500000      12.900000

[8 rows x 16 columns]

In [0]:
data.corr()  # check for highest correlation values

             No      year     month  ...      DEWP      RAIN      WSPM
No     1.000000  0.968604  0.056135  ... -0.111080  0.005317  0.055228
year   0.968604  1.000000 -0.192972  ... -0.179834  0.000920  0.090281
month  0.056135 -0.192972  1.000000  ...  0.285297  0.017748 -0.144272
day    0.017161 -0.008328  0.018011  ...  0.023730 -0.002491 -0.013400
hour  -0.003799 -0.003975 -0.001608  ... -0.012335  0.013119  0.137427
PM2.5 -0.029323 -0.032162  0.012734  ...  0.121528 -0.014920 -0.273450
PM10  -0.049093 -0.043294 -0.022081  ...  0.075048 -0.026542 -0.181472
SO2   -0.226194 -0.166929 -0.224337  ... -0.264875 -0.040567 -0.106464
NO2   -0.043095 -0.052502  0.039098  ... -0.029074 -0.043883 -0.396123
CO     0.028447  0.016569  0.046540  ... -0.055313 -0.013169 -0.294312
O3    -0.049297 -0.023017 -0.101499  ...  0.311581  0.023259  0.294716
TEMP  -0.134103 -0.168096  0.147863  ...  0.820873  0.037226  0.023975
PRES   0.186158  0.188252 -0.025851  ... -0.749416 -0.060996  0.073372
DEWP  -0.111080 -0.179834  0.285297  ...  1.000000  0.086501 -0.300981
RAIN   0.005317  0.000920  0.017748  ...  0.086501  1.000000  0.020978
WSPM   0.055228  0.090281 -0.144272  ... -0.300981  0.020978  1.000000

[16 rows x 16 columns]

In [0]:
#  split the data into training and test dataset - 80 % - train, 20 % - test

In [0]:
x = data[["year", "month", "day", "hour", "PM2.5", "PM10", "SO2", "NO2", "CO", "O3", "PRES", "DEWP", "RAIN", "wd", "WSPM", "station"]]
y = data["TEMP"]
train_data = pd.DataFrame()
test_data = pd.DataFrame()
train_data, test_data, train_label, test_label = train_test_split(x, y, test_size=0.2)

In [0]:
# Encode sequentially the string values

In [0]:
labelencoder = LabelEncoder()
train_data['wd'] = labelencoder.fit_transform(train_data['wd'])
train_data['station'] = labelencoder.fit_transform(train_data['station'])
test_data['wd'] = labelencoder.fit_transform(test_data['wd'])
test_data['station'] = labelencoder.fit_transform(test_data['station'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [0]:
train_data  # verify it worked

        year  month  day  hour  PM2.5  ...  DEWP  RAIN  wd  WSPM  station
303230  2015     10    3    14   30.0  ...   6.3   0.0   8   2.7        8
100965  2016      9    5    21   21.0  ...  14.3   0.0   5   1.6        1
287190  2013     12    4     6   29.0  ...  -6.9   0.0   3   1.5        8
3250    2013      7   14    10  204.0  ...  22.8   0.0   5   0.4        5
325129  2014      4    3     1   55.0  ...   0.5   0.0   2   0.8        9
...      ...    ...  ...   ...    ...  ...   ...   ...  ..   ...      ...
347172  2016     10    7    12   39.0  ...  12.3   1.2   0   1.1        9
109079  2013      8    9    23   38.0  ...  20.4   0.0   6   1.1        2
384453  2017      1    7    21   88.0  ...  -1.3   0.0   4   0.7       10
261549  2014     12   31    21    8.0  ... -23.2   0.0  14   3.2        7
320901  2013     10    8    21   94.0  ...  11.3   0.0   9   1.2        9

[279520 rows x 16 columns]

In [0]:
test_data

        year  month  day  hour  PM2.5  ...  DEWP  RAIN  wd  WSPM  station
328576  2014      8   24    16    8.0  ...  11.2   0.0   2   2.0        9
229652  2015      5   12    20   44.0  ...  10.0   0.0  14   1.5        6
209009  2017      1    2    17  219.0  ...  -7.5   0.0  12   1.9        4
300925  2015      6   29    13   78.0  ...  17.3   0.4   5   5.5        8
380380  2016      7   22     4   69.0  ...  23.3   0.0   5   0.3       10
...      ...    ...  ...   ...    ...  ...   ...   ...  ..   ...      ...
19597   2015      5   26    13  120.0  ...  14.2   0.0  11   2.5        5
274549  2016      6   25    13   24.0  ...   8.4   0.0   6   2.1        7
277414  2016     10   22    22   13.0  ...   4.6   0.0   9   0.5        7
252773  2013     12   31     5   95.0  ... -15.7   0.0  13   2.6        7
343414  2016      5    3    22   15.0  ...  -4.3   0.0  13   1.2        9

[69880 rows x 16 columns]

In [0]:
train_data_old = train_data.copy()  # sava train data

In [0]:
# normilize train and test data using z-score and shift it to avoid negative numbers
# use the same normalization pararameters for train and test datasets
# P.S. if u know how to avoid the warnings tell me please

In [0]:
columns = ["year", "month", "day", "hour", "PM2.5", "PM10", "SO2", "NO2", "CO", "O3", "PRES", "DEWP", "RAIN", "wd", "WSPM", "station"]

for column in columns:
    train_data[column] = (train_data[column] - train_data_old[column].mean()) / train_data_old[column].std() + 3
    test_data[column] = (test_data[column] - train_data_old[column].mean()) / train_data_old[column].std() + 3

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [0]:
train_data  # verify it worked

            year     month       day  ...        wd      WSPM   station
303230  3.242675  4.021742  1.558962  ...  3.284674  3.773913  3.955127
100965  4.104050  3.732060  1.786032  ...  2.621421  2.890058  1.736224
287190  1.519925  4.601106  1.672497  ...  2.179252  2.809708  3.955127
3250    1.519925  3.152697  2.807850  ...  2.621421  1.925853  3.004169
325129  2.381300  2.283651  1.558962  ...  1.958167  2.247255  4.272114
...          ...       ...       ...  ...       ...       ...       ...
347172  4.104050  4.021742  2.013103  ...  1.515998  2.488306  4.272114
109079  1.519925  3.442378  2.240173  ...  2.842505  2.488306  2.053210
384453  4.965425  1.414605  2.013103  ...  2.400336  2.166904  4.589100
261549  2.381300  4.601106  4.737950  ...  4.611181  4.175665  3.638141
320901  1.519925  4.021742  2.126638  ...  3.505758  2.568656  4.272114

[279520 rows x 16 columns]

In [0]:
test_data # verify it worked

            year     month       day  ...        wd      WSPM   station
328576  2.381300  3.442378  3.943203  ...  1.958167  3.211460  4.272114
229652  3.242675  2.573333  2.580779  ...  4.611181  2.809708  3.321155
209009  4.965425  1.414605  1.445426  ...  4.169012  3.131109  2.687182
300925  3.242675  2.863015  4.510879  ...  2.621421  6.023724  3.955127
380380  4.104050  3.152697  3.716132  ...  2.621421  1.845503  4.589100
...          ...       ...       ...  ...       ...       ...       ...
19597   3.242675  2.573333  4.170273  ...  3.947927  3.613212  3.004169
274549  4.104050  2.863015  4.056738  ...  2.842505  3.291810  3.638141
277414  4.104050  4.021742  3.716132  ...  3.505758  2.006204  3.638141
252773  1.519925  4.601106  4.737950  ...  4.390096  3.693562  3.638141
343414  4.104050  2.573333  1.558962  ...  4.390096  2.568656  4.272114

[69880 rows x 16 columns]

In [0]:
# split training data into training (75%) and validation (25%) datasets

In [0]:
x = train_data[["year", "month", "day", "hour", "PM2.5", "PM10", "SO2", "NO2", "CO", "O3", "PRES", "DEWP", "RAIN", "wd", "WSPM", "station"]]
y = train_label
validation_data = pd.DataFrame()
train_data, validation_data, train_label, validation_label = train_test_split(x, y, test_size=0.25)

In [0]:
#clf = svm.SVR() # create the regression svm model

In [0]:
#clf.fit(train_data, train_label) #  train the model

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [0]:
#filename = 'finalized_model.sav'
#pickle.dump(clf, open(filename, 'wb'))

In [0]:
loaded_model = pickle.load(open(filename, 'rb'))  # open the saved model

In [0]:
accuracy = loaded_model.score(validation_data, validation_label)  # check accuracy on validation dataset
print(accuracy)

0.9606084028547748

In [0]:
accuracy = loaded_model.score(test_data, test_label)  # check accuracy on test dataset
print(accuracy)

0.9613762898247007

In [0]:
temp_predicted = loaded_model.predict(test_data)  # calculate predictions for test dataset

In [0]:
df_test = pd.DataFrame({'Actual': test_label, 'Predicted': temp_predicted})  # create dataset with predictions

In [0]:
df_test

           Actual  Predicted
34750    1.800000   2.798618
362698  26.200000  28.173268
79780    9.900000   9.459159
52797    0.600000  -2.281623
277487  10.900000  10.847745
...           ...        ...
59656    0.900000   2.229934
342966   7.300000   6.119887
356457  13.700000  12.014116
385697  15.000000  13.345629
368288  -1.666667   2.352294

[69880 rows x 2 columns]

In [0]:
#  add categorization labels

In [0]:
group_names = ['verycold', 'cold', 'moderate', 'hot', 'veryhot']
bins = [-30, 0, 10, 20, 30, 50]
df_test["Actual_category"] = pd.cut(df_test["Actual"], bins = bins, include_lowest=True, labels = group_names)
df_test["Predicted_category"] = pd.cut(df_test["Predicted"], bins = bins, include_lowest=True, labels = group_names)

In [0]:
df_test  # show the result

           Actual  Predicted Actual_category Predicted_category
34750    1.800000   2.798618            cold               cold
362698  26.200000  28.173268             hot                hot
79780    9.900000   9.459159            cold               cold
52797    0.600000  -2.281623            cold           verycold
277487  10.900000  10.847745        moderate           moderate
...           ...        ...             ...                ...
59656    0.900000   2.229934            cold               cold
342966   7.300000   6.119887            cold               cold
356457  13.700000  12.014116        moderate           moderate
385697  15.000000  13.345629        moderate           moderate
368288  -1.666667   2.352294        verycold               cold

[69880 rows x 4 columns]