<a href="https://colab.research.google.com/github/mahsahadian/Cloud-TP2/blob/master/Final/SVM_2_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.svm import SVR
from sklearn import metrics
from sklearn.metrics import accuracy_score
import pickle

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
url = 'https://raw.githubusercontent.com/tna-hub/Cloud-TP2/master/dataset.csv'
data = pd.read_csv(url)
data.head()

   No  year  month  day  hour  PM2.5  ...    PRES  DEWP  RAIN   wd  WSPM  station
0   1  2013      3    1     0    6.0  ...  1021.1 -18.6   0.0   NW   4.4  Gucheng
1   2  2013      3    1     1    6.0  ...  1021.5 -19.0   0.0   NW   4.0  Gucheng
2   3  2013      3    1     2    5.0  ...  1021.5 -19.8   0.0  WNW   4.6  Gucheng
3   4  2013      3    1     3    6.0  ...  1022.7 -21.2   0.0    W   2.8  Gucheng
4   5  2013      3    1     4    5.0  ...  1023.0 -21.4   0.0  WNW   3.6  Gucheng

[5 rows x 18 columns]

In [3]:
data.isnull().sum()  # showing the number of rows with null values

No             0
year           0
month          0
day            0
hour           0
PM2.5       8043
PM10        5965
SO2         8352
NO2        11362
CO         19404
O3         12199
TEMP         379
PRES         374
DEWP         384
RAIN         371
wd          1743
WSPM         305
station        0
dtype: int64

In [4]:
data = data.dropna()  # drop all rows with null values
data.isnull().sum()  # verify it worked

No         0
year       0
month      0
day        0
hour       0
PM2.5      0
PM10       0
SO2        0
NO2        0
CO         0
O3         0
TEMP       0
PRES       0
DEWP       0
RAIN       0
wd         0
WSPM       0
station    0
dtype: int64

In [5]:
data.describe()  # get more info about data

                  No           year  ...           RAIN           WSPM
count  349400.000000  349400.000000  ...  349400.000000  349400.000000
mean    17969.317490    2014.716657  ...       0.065279       1.736347
std      9998.752658       1.159938  ...       0.827349       1.244607
min         1.000000    2013.000000  ...       0.000000       0.000000
25%      9629.000000    2014.000000  ...       0.000000       0.900000
50%     18120.000000    2015.000000  ...       0.000000       1.400000
75%     26522.000000    2016.000000  ...       0.000000       2.200000
max     35064.000000    2017.000000  ...      72.500000      12.900000

[8 rows x 16 columns]

In [0]:
labelencoder = LabelEncoder()
data['wd'] = labelencoder.fit_transform(data['wd'])
data['station'] = labelencoder.fit_transform(data['station'])

In [0]:
data

           No  year  month  day  hour  ...  DEWP  RAIN  wd  WSPM  station
20         21  2013      3    1    20  ... -18.4   0.0   2   1.9        5
21         22  2013      3    1    21  ... -17.4   0.0  10   0.7        5
22         23  2013      3    1    22  ... -17.6   0.0   0   1.0        5
23         24  2013      3    1    23  ... -17.6   0.0   2   1.1        5
24         25  2013      3    2     0  ... -18.0   0.0   1   1.4        5
...       ...   ...    ...  ...   ...  ...   ...   ...  ..   ...      ...
385699  35060  2017      2   28    19  ... -14.3   0.0   3   2.0       10
385700  35061  2017      2   28    20  ... -11.9   0.0  15   1.0       10
385701  35062  2017      2   28    21  ... -13.7   0.0   3   1.1       10
385702  35063  2017      2   28    22  ... -12.6   0.0   5   1.0       10
385703  35064  2017      2   28    23  ... -11.2   0.0   4   1.1       10

[349400 rows x 18 columns]

In [7]:
data.corr()  # check for highest correlation values

               No      year     month  ...        wd      WSPM   station
No       1.000000  0.968604  0.056135  ... -0.021251  0.055228 -0.005576
year     0.968604  1.000000 -0.192972  ... -0.012707  0.090281 -0.006688
month    0.056135 -0.192972  1.000000  ... -0.033399 -0.144272  0.004666
day      0.017161 -0.008328  0.018011  ...  0.002133 -0.013400  0.001787
hour    -0.003799 -0.003975 -0.001608  ...  0.164512  0.137427  0.005675
PM2.5   -0.029323 -0.032162  0.012734  ... -0.079139 -0.273450  0.026361
PM10    -0.049093 -0.043294 -0.022081  ... -0.039990 -0.181472  0.022254
SO2     -0.226194 -0.166929 -0.224337  ... -0.018950 -0.106464  0.004933
NO2     -0.043095 -0.052502  0.039098  ... -0.118394 -0.396123  0.081273
CO       0.028447  0.016569  0.046540  ... -0.126399 -0.294312  0.035658
O3      -0.049297 -0.023017 -0.101499  ...  0.215658  0.294716 -0.038229
TEMP    -0.134103 -0.168096  0.147863  ...  0.099494  0.023975 -0.003451
PRES     0.186158  0.188252 -0.025851  ... -0.071333  0.073372  0.073182
DEWP    -0.111080 -0.179834  0.285297  ... -0.023961 -0.300981  0.016873
RAIN     0.005317  0.000920  0.017748  ... -0.015661  0.020978  0.001328
wd      -0.021251 -0.012707 -0.033399  ...  1.000000  0.173339  0.013651
WSPM     0.055228  0.090281 -0.144272  ...  0.173339  1.000000 -0.027822
station -0.005576 -0.006688  0.004666  ...  0.013651 -0.027822  1.000000

[18 rows x 18 columns]

In [0]:
#  split the data into training and test dataset - 80 % - train, 20 % - test

In [9]:
columns = ["year", "month", "hour", "PM2.5", "PM10", "SO2", "NO2", "CO", "O3", "PRES", "DEWP", "wd"]

norm_mean_dict = {}
norm_stdev_dict = {}

for column in columns:
    norm_stdev_dict.update( {column : data[column].std() } )
    norm_mean_dict.update( {column : data[column].mean() } )
    data[column] = (data[column] - data[column].mean()) / data[column].std() + 3

float

In [0]:
norm_mean_dict

{'CO': 1217,
 'DEWP': 2,
 'NO2': 50,
 'O3': 57,
 'PM10': 103,
 'PM2.5': 78,
 'PRES': 1010,
 'SO2': 15,
 'hour': 11,
 'month': 6,
 'wd': 6,
 'year': 2014}

In [0]:
norm_stdev_dict

{'CO': 1150,
 'DEWP': 13,
 'NO2': 34,
 'O3': 56,
 'PM10': 90,
 'PM2.5': 79,
 'PRES': 10,
 'SO2': 21,
 'hour': 6,
 'month': 3,
 'wd': 4,
 'year': 1}

In [0]:
data

           No      year     month  day  ...  RAIN        wd  WSPM  station
20         21  1.520044  1.993252    1  ...   0.0  1.956500   1.9        5
21         22  1.520044  1.993252    1  ...   0.0  3.724852   0.7        5
22         23  1.520044  1.993252    1  ...   0.0  1.514412   1.0        5
23         24  1.520044  1.993252    1  ...   0.0  1.956500   1.1        5
24         25  1.520044  1.993252    2  ...   0.0  1.735456   1.4        5
...       ...       ...       ...  ...  ...   ...       ...   ...      ...
385699  35060  4.968504  1.703319   28  ...   0.0  2.177544   2.0       10
385700  35061  4.968504  1.703319   28  ...   0.0  4.830072   1.0       10
385701  35062  4.968504  1.703319   28  ...   0.0  2.177544   1.1       10
385702  35063  4.968504  1.703319   28  ...   0.0  2.619632   1.0       10
385703  35064  4.968504  1.703319   28  ...   0.0  2.398588   1.1       10

[349400 rows x 18 columns]

In [0]:
#x = data[["year", "month", "day", "hour", "PM2.5", "PM10", "SO2", "NO2", "CO", "O3", "PRES", "DEWP", "RAIN", "wd", "WSPM", "station"]]
x = data[["year", "month", "hour", "PM2.5", "PM10", "SO2", "NO2", "CO", "O3", "PRES", "DEWP", "wd"]]
y = data["TEMP"]
train_data = pd.DataFrame()
test_data = pd.DataFrame()
train_data, test_data, train_label, test_label = train_test_split(x, y, test_size=0.2)

In [0]:
# Encode sequentially the string values

In [0]:
#labelencoder = LabelEncoder()
#train_data['wd'] = labelencoder.fit_transform(train_data['wd'])
#train_data['station'] = labelencoder.fit_transform(train_data['station'])
#test_data['wd'] = labelencoder.fit_transform(test_data['wd'])
#test_data['station'] = labelencoder.fit_transform(test_data['station'])

In [0]:
train_data  # verify it worked

            year     month      hour  ...      PRES      DEWP        wd
186037  2.382159  2.573117  3.204875  ...  1.827258  3.934445  3.945896
61818   4.106389  1.993252  3.925949  ...  3.608863  2.529226  3.724852
81333   2.382159  2.863050  4.358594  ...  2.114614  3.992392  1.514412
63660   4.106389  2.863050  3.060660  ...  2.143349  3.731630  3.945896
65297   4.106389  3.442916  3.781734  ...  2.095457  4.709488  3.945896
...          ...       ...       ...  ...       ...       ...       ...
71433   1.520044  2.283184  2.628015  ...  2.124192  3.369460  3.724852
82953   2.382159  3.442916  2.628015  ...  2.057142  4.028609  4.830072
234273  3.244274  4.312715  2.628015  ...  4.135682  2.818962  1.514412
2903    1.520044  2.863050  4.647024  ...  1.760208  4.426995  2.177544
118495  2.382159  3.732849  2.339585  ...  2.334920  4.231424  1.956500

[279520 rows x 12 columns]

In [0]:
test_data

            year     month      hour  ...      PRES      DEWP        wd
172795  4.106389  4.312715  4.070164  ...  3.752541  2.674094  1.735456
344933  4.106389  3.152983  2.051155  ...  2.708482  4.057582  4.387984
131857  4.106389  1.993252  1.474296  ...  2.679746  2.500253  3.724852
146083  1.520044  4.022782  4.070164  ...  4.317674  2.761015  4.609028
95192   4.106389  1.413386  2.483800  ...  3.532235  1.710723  2.177544
...          ...       ...       ...  ...       ...       ...       ...
151411  2.382159  2.863050  4.070164  ...  1.721894  3.898228  1.514412
100630  4.106389  3.442916  4.502809  ...  2.066721  4.332831  2.840676
378345  4.106389  2.283184  2.628015  ...  3.034152  3.717143  1.514412
97520   4.106389  2.283184  2.483800  ...  2.459440  2.811719  3.061720
315484  4.968504  1.703319  1.906940  ...  3.905797  1.993215  4.387984

[69880 rows x 12 columns]

In [0]:
# normilize train and test data using z-score and shift it to avoid negative numbers
# use the same normalization pararameters for train and test datasets
# P.S. if u know how to avoid the warnings tell me please

In [0]:
# split training data into training (75%) and validation (25%) datasets

In [0]:
x = train_data[["year", "month", "hour", "PM2.5", "PM10", "SO2", "NO2", "CO", "O3", "PRES", "DEWP", "wd"]]
y = train_label
validation_data = pd.DataFrame()
train_data, validation_data, train_label, validation_label = train_test_split(x, y, test_size=0.25)

In [0]:
train_data

            year     month      hour  ...      PRES      DEWP        wd
98812   4.106389  2.863050  1.906940  ...  1.970936  3.992392  2.840676
207212  4.106389  4.022782  4.214379  ...  3.216144  3.876498  2.840676
99217   4.106389  2.863050  1.474296  ...  1.817679  3.224592  2.398588
184474  2.382159  1.993252  2.772230  ...  2.574383  2.449549  2.840676
153971  2.382159  3.732849  2.916445  ...  3.311929  4.006879  2.619632
...          ...       ...       ...  ...       ...       ...       ...
31469   4.106389  4.022782  2.051155  ...  2.641432  3.731630  2.840676
57194   3.244274  3.732849  1.618511  ...  3.187408  4.108286  1.735456
317113  1.520044  2.573117  1.474296  ...  3.216144  3.231835  4.166940
84067   2.382159  4.022782  4.070164  ...  2.526490  3.441894  1.514412
112731  2.382159  1.413386  1.762726  ...  4.269781  1.102278  2.398588

[209640 rows x 12 columns]

In [0]:
validation_data

            year     month      hour  ...      PRES      DEWP        wd
114370  2.382159  1.993252  2.772230  ...  3.359821  2.275708  3.282764
246912  1.520044  2.573117  1.330081  ...  3.302350  2.746528  1.514412
294446  2.382159  4.022782  3.349090  ...  2.765953  3.673682  1.956500
349687  4.968504  1.413386  2.339585  ...  5.036063  1.210929  3.061720
22115   3.244274  3.732849  2.916445  ...  2.698903  3.985148  1.956500
...          ...       ...       ...  ...       ...       ...       ...
115335  2.382159  2.283184  3.493305  ...  2.794689  2.695824  3.503808
4735    1.520044  3.732849  2.339585  ...  2.076299  4.238667  2.177544
349859  4.968504  1.413386  2.916445  ...  4.767864  1.703479  4.166940
209110  4.968504  1.413386  4.502809  ...  3.982425  2.616147  1.735456
173159  4.106389  4.312715  4.647024  ...  4.250624  2.203274  2.177544

[69880 rows x 12 columns]

In [0]:
clf = svm.SVR() # create the regression svm model

In [0]:
clf.fit(train_data, train_label) #  train the model

In [0]:
filename = '/content/drive/My Drive/Colab Notebooks/svm_model_2.0.sav'
#pickle.dump(clf, open(filename, 'wb'))

with open('/content/drive/My Drive/Colab Notebooks/svm_model_2.0.sav', 'wb') as f:
    pickle.dump(clf, f)

In [0]:
loaded_model = pickle.load(open(filename, 'rb'))  # open the saved model

In [0]:
accuracy = loaded_model.score(validation_data, validation_label)  # check accuracy on validation dataset
print(accuracy)

In [0]:
accuracy = loaded_model.score(test_data, test_label)  # check accuracy on test dataset
print(accuracy)

In [0]:
temp_predicted = loaded_model.predict(test_data)  # calculate predictions for test dataset

In [0]:
df_test = pd.DataFrame({'Actual': test_label, 'Predicted': temp_predicted})  # create dataset with predictions

In [0]:
df_test

In [0]:
#  add categorization labels

In [0]:
group_names = ['verycold', 'cold', 'moderate', 'hot', 'veryhot']
bins = [-30, 0, 10, 20, 30, 50]
df_test["Actual_category"] = pd.cut(df_test["Actual"], bins = bins, include_lowest=True, labels = group_names)
df_test["Predicted_category"] = pd.cut(df_test["Predicted"], bins = bins, include_lowest=True, labels = group_names)

In [0]:
df_test  # show the result